* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* COLORS */
/* Primary Colors */
/* Secundary Colors */
/* Brands Colors */
/* SOCIAL COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

/* GRADIENT */
header .navbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: rgb(255, 204, 0);
}
header .navbar .logo-brand {
  width: 3rem;
  border-radius: 100%;
  grid-column: 2/3;
}
header .navbar .nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 4/6;
  font-size: 1rem;
}
header .navbar .nav-menu li {
  margin: 5px;
  display: inline-block;
}
header .navbar .nav-menu li:hover {
  cursor: pointer;
  text-decoration: underline;
}
header .navbar .bars {
  grid-column: 8/8;
  display: none;
}
header .navbar .shopping {
  grid-column: 8/8;
  align-self: center;
  font-size: 1.5rem;
}

.artist {
  background: linear-gradient(rgb(16, 16, 16), rgba(16, 16, 16, 0.722)), url("../../img/pexels-pixabay-33597.jpg") no-repeat center center/cover;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.artist .content {
  grid-column: 5/8;
  grid-row: 6/8;
  color: rgb(255, 255, 255);
}
.artist .content h1 {
  color: rgb(255, 204, 0);
  margin: 1rem 0;
}
.artist .content p {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background-color: rgb(255, 204, 0);
  color: rgb(0, 0, 0);
  padding: 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 15%;
}
.btn:hover {
  background: rgba(182, 173, 10, 0.847);
  color: rgba(0, 0, 0, 0.8);
}

footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 11vh;
}
footer .listen {
  grid-column: 1/4;
  text-align: center;
  background-color: rgb(255, 204, 0);
}
footer .listen h4 {
  padding: 1rem;
}
footer .follow {
  grid-column: -6/-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  color: rgb(255, 255, 255);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .navbar {
    position: relative;
    overflow: hidden;
  }
  .navbar .shopping {
    display: none;
  }
  .navbar .logo-brand {
    grid-column: 1/3;
  }
  .navbar .nav-menu {
    flex-direction: column;
    position: absolute;
    grid-column: 2/5;
    margin-top: 3.02rem;
    background-color: rgb(255, 204, 0);
    width: 100%;
    height: 80vh;
    transform: translate(300%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .navbar .show-menu {
    transform: translate(150%);
    transition: transform 0.5s ease-in;
  }
  .bars {
    grid-column: 8/8;
    display: inline-block !important;
    font-size: 2rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 520px) {
  .artist .content {
    grid-column: 2/8;
  }
  footer .listen {
    grid-column: 1/4;
    grid-row: 1/3;
  }
  footer .follow {
    grid-column: 4/9;
    grid-row: 1/3;
  }
}
/* END OF THE MEDIA QUERIES *//*# sourceMappingURL=main.css.map */