/* RESPONSIVE */

@media only screen and (max-width:600px){
    .navmenu{
        position:absolute;
        flex-direction: column;
        left:16.5rem;
        background-color: $primary-brand-bg;
        height: 70vh;
        width: 7rem;
        margin-top:2rem;
        transform: translateX(300%);
    }
    .bars{
        display:block !important;
        font-size: 1.4rem;
        grid-column: 8/8;
        margin-left: 12rem;
        cursor:pointer;
    }
    .shopping{
        display:none;
    }
    .show{
        transform: translateX(115%);
        transition: transform .5s ease-in;
    }
}


@media only screen and (max-width:400px){
    .artist{
        display:block !important; 
        .content{
            padding: 5rem 3.2rem;
            width:90%;

            p{
                font-size: 0.8rem;
            }
        }
    }
    .show{
        transform: translateX(-60%);
        transition: transform .5s ease-in;
    }
        
    }

/* RESPONSIVE END */